@{
    ViewData["Title"] = "Message List";
}
@model IEnumerable<PaxosExercise.Core.Entities.MessageItem>
<h2>Message Items (MVC View)</h2>
<ul>
@foreach (var item in Model)
{
    <li>@item.Message<br/>@item.Digest</li>
}
</ul>
