@{
    ViewData["Title"] = "Paxos Excercise - Ferdeen Mughal";
}

<div class="row">
    <div class="col-md-6">
        <h2>To Do Items (MVC)</h2>
        <ul>
            <li><a asp-area="" asp-controller="Message" asp-action="Populate">Load Sample Message Items</a> (API call returning just a number)</li>
            <li><a asp-area="" asp-controller="Message" asp-action="Index">List Message Items</a></li>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
        <h2>To Do Items (Razor Pages)</h2>
        <ul>
            <li><a asp-page="/ToDoRazorPage/Populate">Load Sample To Do Items</a></li>
            <li><a asp-page="/ToDoRazorPage/Index">List To Do Items</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>About the Author</h2>
        <ul>
            <li><a href="https://github.com/ferdeen">GitHub</a></li>
        </ul>
    </div>
</div>
